body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.job-card {
  padding-right: 2rem;
  padding-left: 2rem;
  cursor: pointer;
}
.job-card:hover {
  background: #f8f8fa;
}
.job-card .date-col {
  display: flex;
  align-items: center;
}